<footer class="site-footer h-card">
  <div class="container">
    <div class="row">
      <div class="left-panel">
        <div class="navigation">
          <ul>
            <li><a href="https://ethics-charter.azurewebsites.net/privacy">Privacy policy</a></li>
            <li><a href="https://ethics-charter.azurewebsites.net/accessibility">Accessibility statement</a></li>
            <li><a href="https://ethics-charter.azurewebsites.net/cookies">Cookie use</a></li>
          </ul>  
          <ul>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
        <p>
          © 2019 - Midlands Accord and East Accord - Sponsored by <a href="https://www.trustmarque.com" target="_blank">Trustmarque Solutions</a>
        </p>
      </div>
      <div class="right-panel">
        <div></div>
        <div>
          <img src="{{ "/assets/logo-east-accord-grey.svg" }}" height="140" alt="Shaking hands: the logo for the NHS East Accord; Connecting Care Systems, Services, and People" />
        </div>
        <div>
          <img src="{{ "/assets/midlands-accord-logo-grey.svg" }}" height="140" alt="Network honeycomb: the logo for the NHS Midlands Accord; Connecting Care Systems, Services, and People" />
        </div>
      </div>
    </div>
  </div>
</footer>
